<div class="container">
    <div class="row">
    	<div class="col-lg-12">
        	<h1>Tomato Sales Dashboard</h1>
        	<p>Check sales from your store</p>
		</div>		
	
		<div class="col-lg-12">
			<form class="form-inline" ng-submit="retrieveSales()" >
				<div class="form-group">
				    <input type="text" autocomplete="off" ng-model="size" class="form-control" id="size" placeholder="Enter a Size">
				</div>
				<button class="btn btn-primary" type="submit">Search!</button>
			</form>
		</div>
		
		<div class="col-lg-12 errorDiv">
			<div class="alert alert-danger" ng-hide="hideErrorMsg" role="alert">{{ invalidArgumentErrorMsg }}</div>
		</div>
		
		<div class="col-lg-12">
			<table class="table" ng-hide="hideTable">
				<tr>
			      <th>Provider</th>
			      <th>Tomatoes</th>
			      <th>Sale Date</th>
			   </tr>			   
			  <tr ng-repeat="x in data">
			    <td>{{ x.provider }}</td>
			    <td>{{ x.tomatoes }}</td>
			    <td>{{ x.timestamp | date:'dd.MM.yyyy' }}</td>
			  </tr>
			</table>
		</div>
	</div>
</div>