body { 
    padding-top: 65px; 
}

.table, .errorDiv {
	margin-top: 10px;
}

.navbar-text.navbar-title {
	font-weight: bold;
	color: white;
	pointer: default;
}

.logo {
	height: 30px; 
	width: 90px;
}
